@font-face{
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face{
    font-family: 'Promt';
    src: url(../fonts/Poppins-MediumItalic.ttf);
}
@font-face{
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-extrabold_6939af7b8e2c6158b92c542efc7fcc9b.otf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Antic Slab';
    src: url(../fonts/AnticSlab-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: 'Cabin';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: 'Cabin-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'Open Sans';
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'Open Sans Bold';
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}
@font-face{
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue\ Regular.ttf);
}
@font-face{
    font-family: 'Bebas Neue Bold';
    src: url(../fonts/BebasNeue\ Bold.ttf);
}
@font-face{
    font-family: 'Noir';
    src: url(../fonts/Noir_medium.otf);
}
