body {
    background-color: #0D0715;
}

nav {
    padding-top: 17px;
}

.btn-sendd {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    background: #4A08B6;
    box-shadow: 0px 0px 15px 2px rgba(137, 91, 213, 0.64);
    border-radius: 6px;
    padding: 19px 66px;
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 60px;
    transition: .5s;
    animation: btn 3s linear infinite;
    position: relative;
    overflow: hidden;
}

.toggle {
    position: absolute !important;
    right: 10%;
    /* top: 10px; */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000 !important;
}

.toggle.active {
    width: 20px;
    height: 50px;
    /* transform: translateY(210px); */
    position: fixed !important;
    z-index: 100000 !important;
    margin-left: 35px;
}

.toggle span {
    position: absolute;
    width: 30px !important;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(8px);
    width: 30px !important;
}

.toggle.active span:nth-child(1) {
    width: 20px !important;
    transform: translateY(10px) rotate(45deg);
    transition-delay: 0.125s;
    background-color: #fff;
}

.toggle span:nth-child(2) {
    transform: translateY(20px) translateX(13px);
    width: 17px !important;
    left: 10px;
    height: 3px;
}

.toggle.active span:nth-child(2) {
    width: 20px !important;
    transform: translateY(10px) rotate(315deg);
    transition-delay: 0.25s;
    left: 0;
    background-color: #fff;

}

.headerItems {
    padding-top: 43px;
    /* padding-bottom: 100px; */
}

header {
    position: relative;
}

.leftItems h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    color: #FFFFFF;
}

.leftItems h1 span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    margin: 0;
    color: #895BD5;
}

.leftItems h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    margin: 0;
    color: #fff;
}

.leftItems p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    margin-top: 17px;
    margin-bottom: 46px;
    max-width: 645px;
    color: #FFFFFF;
}

.leftItems p span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    color: #895BD5;
}

.leftItems a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    padding: 19px 33px;
    background: #4A08B6;
    box-shadow: 0px 0px 15px 2px rgba(137, 91, 213, 0.64);
    border-radius: 6px;
}

.leftItems h5 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-top: 47px;
    color: #FFFFFF;
}

.leftItems .time {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: #895BD5;
}

.headerImg img {
    width: 100%;
}

.togle {
    position: absolute !important;
    right: 46%;
    bottom: 0;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1 !important;
    background-color: transparent;
}

.togle span {
    position: absolute;
    width: 30px !important;
    height: 3px;
    background: #4A08B6;
    border-radius: 4px;
    transition: 0.5s;
}

.togle span:nth-child(1) {
    transform: translateY(8px) translateX(20px) rotate(-28deg);
    width: 43px !important;
}

.togle span:nth-child(2) {
    transform: translateY(8px) translateX(0px) rotate(28deg);
    width: 43px !important;
    left: 10px;
    height: 3px;
}

.sc1 {
    padding-top: 40px;
}

.sc1 h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 74px;
    color: #FFFFFF;
}

.advantages {
    background: rgba(74, 8, 182, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

}

.Words01 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 310px;
    color: #FFFFFF;
    padding-top: 70px;
    padding-left: 83px;
    padding-bottom: 85px;
}

.Img01 {
    position: relative;
}

.Img01 img {
    position: absolute;
    top: 50px;
    left: 47px;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
}

.sc1 a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    background: #4A08B6;
    box-shadow: 0px 0px 15px 2px rgba(137, 91, 213, 0.64);
    border-radius: 6px;
    padding: 19px 33px;
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 60px;
}

.sc2 h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.box h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    padding: 56px 56px 0;
}

.box p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    padding-bottom: 56px;
}

.box {
    border: 2px solid #895BD5;
    box-shadow: 0px 0px 15px 1px #895BD5;
    border-radius: 6px;
    width: max-content;
    margin-left: 65px;
    margin-top: 32px;
}

.rightItem {
    width: 65%;
}

.aboutUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    display: flex;
    justify-content: end;
}

.item2 {
    display: flex !important;
    justify-content: start !important;
    margin-top: 96px;
}

.sc2 {
    padding-bottom: 55px;
}

.box2 {
    /* margin-top: 10px; */
}

.right-footer p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    color: #FFFFFF;
    margin-top: 17px;
}

.socials a {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 79px;
    text-decoration: none;
    color: white;

}

.socials {
    margin-top: 15px;
}

.socials a:nth-child(2) {
    margin: 0 12px;
}


.left-footer p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 143%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.left-footer a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 4.5px 0;
}

li {
    list-style: none;
}

.left-footer a i {
    font-size: 10px;
    margin-left: 11px;
}

ul {
    margin: 0;
    padding: 0;
}

footer {
    padding: 24px 0 55px;
    background: linear-gradient(0deg, #5D3D90 0%, rgba(93, 61, 144, 0) 100%);
}

.sc4 h3,
.gen-h3 {

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    margin: 0 !important;
    padding: 0 !important;

}

.sc4 h3 span {
    color: #895BD5;
}

.accordion-button {
    background: #0D0715 !important;
    border: 2px solid #895BD5;
    box-shadow: 0px 0px 15px 1px #895BD5;
    border-radius: 6px;
    padding: 26px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 43px;
    height: 43px;
    margin-left: auto;
    content: "";
    background-image: url(../img/add.png) !important;
    color: #5D3D90;
    background-size: 43px;
}

.accordion-item {
    border-radius: 6px;
    background: #895BD4;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;

}

.hh1,
.hh2 {
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    color: white;
    box-shadow: 0px 0px 15px 1px #895BD5;

}

.accordion-button:focus {
    border: 2px solid #895BD5;
    box-shadow: 0px 0px 15px 1px #895BD5;

}

.accordion {
    margin: 32px auto;
}

.right-form h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #895BD5;
    margin-bottom: 17px;
}

.right-form p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
}


.fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}

.inputBox {
    position: relative;
}

.inputBox input {
    background: rgba(137, 91, 213, 0.64);
    border-radius: 6px;
    outline: none;
    border: none;
    transition: .5s;
    width: 100%;
    padding: 0 15px;
    height: 56px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 18px;
    pointer-events: none;
    font-size: 16px;
    line-height: 19px;
    color: #B1B1B1;
    transition: 0.5s;
}

.inputBox span::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #0D0715;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: .5s;
    transform: translateY(-30px);
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #fff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 5px;
    background: #5D3D90;
    color: white;
    font-size: 14px;
}

.inputBox input:focus~span::before {
    transform: translateY(0px);
    opacity: 1;
}

.inputBox input:focus {
    /* box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.47); */
    border: 2px solid #FFFFFF;
}

.insiderr input {
    width: 100%;
}

.insiderr input {
    margin: 26px 0;
}

.insiderr span {
    top: 50%;
    transform: translateY(-50%);
}

.insiderr input:focus~span {
    transform: translateY(0%);
    top: 20px;
    left: 10px;
}


.inputBox textarea {
    background: rgba(137, 91, 213, 0.64);
    border-radius: 6px;
    outline: none;
    border: none;
    transition: .5s;
    width: 100%;
    height: 128px;
    padding: 15px;
}

.inputBox textarea:focus {
    border: 2px solid white;
}

.inputBox textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #B1B1B1;
}

.btn-sendd::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 200%;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(255, 255, 255, 0.39) 50%, rgba(217, 217, 217, 0) 100%);
    left: -50%;
    top: 50%;
    transform: rotate(-20deg) translateY(-50%);
    animation: btnnn 4s infinite;
}

.btn-sendd:hover::before {
    animation-play-state: paused;
}

.btn-sendd:hover {
    color: white;
}

@keyframes btnnn {
    0% {
        transform: translateX(0) rotate(-20deg) translateY(-50%);
    }

    100% {
        transform: translateX(1200%) rotate(-20deg) translateY(-50%);
    }
}

.father-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 32px;
}

.steps h5 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.steps p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.steps {
    padding: 26px;
    border: 2px solid #895BD5;
    box-shadow: 0px 0px 15px 1px #4A08B6;
    border-radius: 6px;
    position: relative;
}

.steps .num {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 11px 15px;
    text-align: right;
    color: #FFFFFF;
    background: #895BD5;
    border-radius: 25px;
    display: block;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.father-step {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px;
    margin-top: 32px;
    margin-bottom: 60px;
}

.modalll {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.modalll a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 143%;
    /* or 31px */
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 15px;
    color: #FFFFFF;
    transition: .5s;
    position: relative;
    z-index: -4;
    opacity: 0;
    transition: .5s;
}

.modalll a:hover {
    color: #4A08B6;
}

.modalll.active {
    z-index: 11;
    backdrop-filter: blur(40px);
}

.modalll a.active {
    opacity: 1;
    z-index: 12;
}








@media(max-width:1200px) {
    .leftItems h1 {
        font-size: 53px;
        line-height: 78px;
    }

    .leftItems .time {
        font-size: 53px;
        line-height: 78px;
    }

    .leftItems h1 span {
        font-size: 53px;
        line-height: 78px;
    }

    .togle {
        right: 45%;
    }

    .Words01 p {
        max-width: 310px;
        color: #fff;
        padding-top: 70px;
        padding-right: 43px;
        padding-left: 83px;
        padding-bottom: 85px;
    }

    .inputBox input {
        width: 216px;
        height: 56px;
    }

    .insiderr input {
        width: 100%;
    }
}

@media(max-width:992px) {
    .leftItems h1 {
        font-size: 35px;
        line-height: 78px;
    }

    .right-footer p {
        text-align: center;
    }

    .leftItems .time {
        font-size: 35px;
        line-height: 78px;
    }

    .leftItems h1 span {
        font-size: 35px;
        line-height: 78px;
    }

    .leftItems p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .leftItems p span {
        font-size: 14px;
        line-height: 20px;
    }

    .leftItems a {
        font-size: 14px;
        line-height: 20px;
    }

    .sc1 a {
        font-size: 14px;
        line-height: 20px;
    }

    .leftItems h4 {
        font-size: 20px;
        line-height: 24px;
    }

    .leftItems h5 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 35px;
    }

    .togle {
        bottom: -15px;
    }

    .togle span:nth-child(1) {
        transform: translateY(8px) translateX(14px) rotate(-28deg);
        width: 30px !important;
    }

    .togle span:nth-child(2) {
        transform: translateY(8px) translateX(14px) rotate(28deg);
        width: 30px !important;
    }

    .advantages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 24px;
    }

    .Words01 p {
        max-width: 310px;
        color: #fff;
        padding-top: 70px;
        padding-right: 0px;
        padding-left: 83px;
        padding-bottom: 85px;
    }

}

@media(max-width:992px) {
    .right-footer p {
        margin: auto;
        margin-top: 17px;
        font-size: 14px;
    }

    .left-footer p {
        font-size: 16px;
        margin-top: 30px;
    }

    .left-footer p,
    .left-footer li {
        text-align: center;
    }

    .left-footer a {
        font-size: 14px;
    }

    .father-form {
        grid-template-columns: 70%;
        justify-content: center;
    }

    .father-step {
        gap: 25px;
    }
}

@media(max-width:768px) {
    .headerItems {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .togle {
        bottom: -40%;
        right: 43%;
    }

    .leftItems h1 {
        font-size: 29px;
        line-height: 33px;
    }

    .leftItems h1 span {
        font-size: 29px;
        line-height: 50px;
    }

    .advantages {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 24px;
        width: 85%;
        margin: auto;
        padding-bottom: 30px;
    }

    .Words01 p {
        max-width: 100%;
        color: #fff;
        padding-top: 70px;
        padding-right: 74px;
        padding-left: 105px;
        padding-bottom: 40px;
    }

    .sc1 a {
        margin-top: 20px;
    }

    .sc1 h3 {
        font-size: 32px;
        line-height: 36px;
        padding-top: 80px;
        padding-bottom: 35px;
    }

    .Img01 img {
        position: absolute;
        top: 50px;
        left: 70px;
    }

    .sc2 h3 {
        font-size: 32px;
        line-height: 36px;
    }

    .aboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .rightItem {
        margin-right: 50px !important;
    }

    .item1 {
        justify-content: center;
    }

    .item2 {
        justify-content: center !important;
        margin-top: 40px;
    }

    .father-form {
        grid-template-columns: 90%;
        justify-content: center;
    }

    .father-step {
        grid-template-columns: 1fr;
        gap: 47px;
    }

    .steps {
        padding: 20px;
    }

    .steps .num {
        font-size: 14px;
        line-height: 17px;
        padding: 9px 9px 6px 9px;
        left: 50%;
    }

    .steps h5 {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .steps p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

    .leftItems a {
        margin: auto;
    }
}

@media(max-width:576px) {
    .headerImg img {
        display: none;
    }

    .togle {
        right: 42%;
        bottom: 20%;
    }

    .togle span:nth-child(1) {
        transform: translateY(10px) translateX(14px) rotate(-28deg);
        width: 25px !important;
    }

    .togle span:nth-child(2) {
        transform: translateY(10px) translateX(20px) rotate(28deg);
        width: 25px !important;
    }

    .leftItems a {
        padding: 14px 22px;
    }

    .sc1 a {
        padding: 14px 22px;
    }

    .leftItems h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .leftItems h1 span {
        font-size: 24px;
        line-height: 30px;
    }

    .leftItems .time {
        font-size: 25px;
        line-height: 65px;
    }

    .sc1 h3 {
        font-size: 30px;
        line-height: 34px;
        padding-top: 65px;
        padding-bottom: 25px;
    }

    .sc2 h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .item1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .leftItem img {
        display: none;
    }

    .sc4 h3,
    .gen-h3 {
        font-size: 24px;
        line-height: 29px;
    }

    .accordion-button {
        font-size: 14px;
        line-height: 17px;
    }

    .accordion-button::after {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .accordion-item {
        font-size: 14px;
        line-height: 141%;

    }

    .fieldset {
        flex-wrap: wrap;
    }

}

@media(max-width:500px) {
    .togle {
        right: 40%;
        bottom: 20%;
    }

    .leftItems h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .leftItems .time {
        font-size: 20px;
        line-height: 24px;
    }

    .Words01 p {
        padding-right: 0px;
    }

    .Img01 img {
        left: 68px;
    }

    .advantages {
        width: 85%;
    }

    .sc1 h3 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 65px;
        padding-bottom: 25px;
    }

    .sc1 h3 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .sc2 h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .fieldset input {
        width: 100% !important;
    }

    .fieldset .inputBox:nth-child(2) {
        margin-top: 23px;
    }

    .fieldset .inputBox {
        width: 100%;
    }

    .fieldset {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media(max-width:450px) {
    .togle {
        right: 39%;
    }

    .leftItems h1 {
        font-size: 18px;
        line-height: 35px;
    }

    .leftItems h1 span {
        font-size: 18px;
        line-height: 35px;
    }

    .leftItems h5 {
        font-size: 18px;
        line-height: 22px;
    }

    .advantages {
        width: 95%;
    }

    .Img01 img {
        left: 68px;
    }

    .Words01 p {
        padding-left: 105px;
    }
}

@media(max-width:400px) {
    .togle {
        bottom: 20%;
        right: 38%;
    }

    .sc1 h3 {
        font-size: 24px;
        line-height: 30px;
        padding-top: 100px;
        padding-bottom: 25px;
    }

    .Img01 img {
        left: 35px;
    }

    .Words01 p {
        padding-left: 70px;
        padding-bottom: 20px;
    }

    .advantages {
        padding-bottom: 40px;
    }
}

@media(max-width:350px) {
    .togle {
        right: 37%;
    }

    .Img01 img {
        left: 25px;
    }

    .Words01 p {
        padding-left: 60px;
    }
}

@media(max-width:325px) {
    .leftItems h1 {
        font-size: 15px;
        line-height: 35px;
    }

    .togle {
        bottom: 12%;
        right: 35%;
    }

    .leftItems h4 {
        font-size: 18px;
        line-height: 22px;
    }

}

@media(max-width:281px) {
    .Img01 img {
        left: 20px;
    }

    .Words01 p {
        padding-left: 55px;
    }
}